# Expo
.expo/
.expo-shared/
.expo-updates/
android/
ios/

# Dependencies
node_modules/

# Testing / Coverage
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
logs/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

components/ui/
*.md